.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.clockingButton {
  background-color:#5cbf2a;
  border-radius:10px;
  /* display:inline-block; */
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  margin: 0% 2%;
  width: 25%;
  text-decoration:none;
 
}

#out{
	background-color:#CC2D21;
}
#out:hover{
    background-color:#cc432b;
}



